pandas
numpy
scikit-learn
statsmodels
prophet
xgboost
streamlit
matplotlib
seaborn

"""pandas, numpy → for data handling.

scikit-learn → for machine learning models (Random Forest, Gradient Boosting).

statsmodels → for ARIMA/SARIMA (if you add later).

prophet → for seasonality-aware forecasting.

xgboost → optional ML model.

streamlit → for the interactive dashboard.

matplotlib, seaborn → for plotting and visualization."""
